{{> adminheader}}

<div class="container-fluid detailscon">
<h2 class="page-header">Agency Accounts</h2>
</div>
<div class="topgap">
<table id="example" class="table accountstable table-striped table-bordered" cellspacing="0" width="100%">
    <t>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Verified</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tfoot>
        {{#print}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{active}}</td>
            <td>{{verification}}</td>
            <td><a class="btn btn-success" href="/admin/accounts/agency/{{id}}" role="button">Edit</a></td>
        </tr>
        {{/print}}
    </tfoot>
</table>
</div>