{{> adminheader}}

<div class="container-fluid cont">
<div class="container">
    <h2 class="headertext">Agency Accounts</h2>
    <div class="row listreservationdivHeader">
            <div class="col-3 text-center">
                <h6 class="listreservationtext">Name</h6>
            </div>
            <div class="col-3 text-center">
                <h6 class="listreservationtext">Email</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Active</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Verified</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Modify</h6>
            </div>
    </div>
        {{#print}}
    <div class="row listreservationdiv">
            <div class="col-3 text-center">
                <p class="listreservationtext">{{name}}</p>
            </div>
            <div class="col-3 text-center">
                <p class="listreservationtext">{{email}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{active}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{verification}}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn btn-success" href="/admin/accounts/agency/{{id}}" role="button">Edit</a>
            </div>
    </div>
        {{/print}}
</div>
</div>