{{> adminheader}}
<div class="container-fluid cont">
<div class="container listrowcont">
    <h2 class="headertext">Buses</h2>
    <form method="post" class="form-row"  action="/admin/bus/search">
      <div class="form-group col-4">
        <input type="text"  class="form-control" placeholder="Search.." name="search" required>
      </div>
      <div class="form-group col-3">
        <select class="form-control" name="criteria" required>
            <option value="name">Name</option>
            <option value="registrationnumber">Registration Number</option>
            <option value="category">Category</option>
            <option value="availability">Availability</option>
        </select>
      </div>
      <div class="col-2">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div>
    </form>
    <div class="row listreservationdivHeader">
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Name</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Registration Number</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Category</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Number of seats</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Availability</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Edit Details</h6>
            </div>
    </div>
        {{#print}}
    <div class="row listreservationdiv">
            <div class="col-2 text-center">
                <p class="listreservationtext">{{name}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{registrationnumber}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{category}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{numberofseats}}</p>
            </div>
            <div class="col-2 text-center">
                {{#if availability}}
                <p class="listreservationtext">Available</p>
                {{else}}
                <p class="listreservationtext">Not Available</p>
                {{/if}}
            </div>
            <div class="col-2 text-center">
                <a class="btn btn-success" href="/admin/bus/{{id}}" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
            </div>
</div>
            {{/print}}
</div>
</div>