{{> adminheader}}

<div class="container-fluid cont">
<div class="container">
  <h2 class="headertext">Package Details</h2>
    {{#print}}
    <div class="row">
      <div class="col viewpackageimagediv">
          <img class="viewpackageimage" src="/uploads/{{image}}">
      </div>
      <div class="col">
        <h4>{{name}}</h4>
        <p>{{description}}</p>

        <h6>Departure Location</h6>
        <p>{{departurelocation}}</p>

        <div id="custcostrow" class="row">
          <div class="col">
            <h6>Departure Time</h6>
            <p>{{departuretime}}</p>
          </div>
          <div class="col">
            <h6>Tour Date</h6>
            <p>{{moment packagedate format="YYYY-MM-DD"}}</p>
          </div>
          <div class="col">
            <h6>Tour Length</h6>
            <p>{{tourlength}} hours</p>
          </div>
        </div>
        <div id="custcostrow" class="row">
          <div class="col-6">
            <p><b>Cost: </b>Rs. {{cost}}</p>
          </div>
        </div>
        <div id="custcostrow" class="row">
          <div class="col-12">
            <p>Latitude {{lat}}</p>
            <p>Longitude {{lon}}</p>
          </div>
        </div>
        <a class="btn btn-success" href="/admin/package/{{id}}/reserveseat" role="button"><i class="fa fa-lock" aria-hidden="true"></i> Reserve Seat</a>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label>Tour Location</label><br>
      <div id="viewus2" style="width: 1050px; height: 400px; margin-bottom: 100px;"></div><br>		
      Lat.: <input hidden readonly type="text" name="lat" value="{{lat}}" id="viewus2-lat"/>
      Long.: <input hidden readonly type="text" style="" value="{{lon}}" name="lon" id="viewus2-lon"/> 
      <div class="input_fields_wrap"></div>
    </div>
    {{/print}}
</div>
</div>
