{{> adminheader}}

<div class="container-fluid cont">
    <div class="container">
        <h2 class="headertext">Packages</h2>
            <form method="post" class="form-row" action="/admin/package/search">
            <div class="form-group col-4">
                <input type="text"  class="form-control" placeholder="Search by Name.." name="search" required>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </form>
        <div class="row">
            {{#print}}
            <div class="col-3 listpackagediv">
                <div class="listpackage">
                    <a class="" href="/admin/package/{{id}}/view" role="">
                <div class="listpackageimage"><img src="/uploads/{{image}}"></div>
                    <h5 class="listpackagetext">{{name}}</h5>
                    <p class="listpackagetext">Tour Length: {{tourlength}}</p>
                    <p class="listpackagetext">Departure Time: {{departuretime}}</p>
                    <p class="listpackagetext" style="float:left; padding-right:80px">Cost: ${{cost}}</p>
                    </a>
                    <a class="btn btn-success" href="/admin/package/{{id}}/edit" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                </div>
            </div> 
            {{/print}}
        </div>
    </div>
</div>
