{{> customerheader}}

<div class="container-fluid detailscon">
   {{#print}}
  <h2 class="page-header">{{packagename}}</h2>
    <form method="post" action="/customer/package/{{packageid}}/reserveseat">
        {{/print}}
    <div class="row">
      <div class="col-3">
        <div class="row">
          {{#print1}}
          <div seatbutton class="col-3">
            {{#is status '0'}}
              <input type="hidden" id="inputseat{{number}}" name="seatnumber" value="">
              <div class="btn seat btn-success" id="buttonseat{{number}}" href="" role="button">{{number}}</div>
            {{/is}}
            {{#is status '1'}}
              <div class="btn seat disabled btn-warning" href="" role="button">{{number}}</div>
            {{/is}}
            {{#is status '2'}}
              <div class="btn seat disabled btn-danger" href="" role="button">{{number}}</div>
            {{/is}}
          </div>
          {{/print1}}
        </div>
      </div><div class="col-6"></div>
      <div class="col-3">
          <button type="submit" class="btn btn-primary">Reserve</button>
      </div>
    </div>
      
    </form>
</div>

