{{> customerheader}}

<div class="container-fluid cont">
    <div class="container">
        <h2 class="headertext">Packages</h2>
        <div class="row">
            {{#print}}
            <div class="col-3 listpackagediv">
                <div class="listpackage">
                    <a class="" href="/customer/package/{{id}}" role="">
                <div class="listpackageimage"><img src="/uploads/{{image}}"></div>
                <h5 class="listpackagetext">{{name}}</h5>
                    <p class="listpackagetext">Tour Length: {{tourlength}}</p>
                    <p class="listpackagetext">Departure Time: {{departuretime}}</p>
                    <p class="listpackagetext">Cost: ${{cost}}</p>
                    </a>
                </div>
            </div> 
            {{/print}}
        </div>
    </div>
    <div class="about">
		<div class="container">
			<div class="w3l-about-heading">
				<h5>You may also like</h5>
				<p>You can select your tour package from here ! Here's some top tour packages we provide !!! </P>
			</div>
			<div class="row about-grids">
				<div class="col-md-3 about-grid">
					<div class="about-grid-info effect-1">
							<h4><a class="navtext" href="sigiriya.html">Sigiriya</a></h4>
					</div>
				</div>
				<div class="col-md-3 about-grid">
					<div class="about-grid-info about-grid-info1 effect-1">
						 <h4><a class="navtext"  href="polonnaruwa.html">Polonnaruwa</a></h4>
					</div>
				</div>
				<div class="col-md-3 about-grid">
					<div class="about-grid-info about-grid-info2 effect-1">
						<h4><a class="navtext"  href="kandy.html">Kandy</a> </h4>
					</div>
				</div>
				<div class="col-md-3 about-grid">
					<div class="about-grid-info about-grid-info3 effect-1">
						<h4><a  class="navtext"  href="galle.html"Galle>Galle</a></h4>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

</div>