{{> customerheader}}

<div class="container-fluid detailscon">
    <h2 class="page-header">Packages</h2>
</div>
<div class="topgap">
<table id="example" class="table accountstable table-striped table-bordered" cellspacing="0" width="100%">
    <t>
        <tr>
            <th>Name</th>
            <th>Tour Length</th>
            <th>Departure Location</th>
            <th>Departure Time</th>
            <th>Cost ($) - Adult</th>
            <th>Cost ($) - Child</th>
        </tr>
    </thead>
    <tfoot>
        {{#print}}
        <tr>
            <td>{{name}}</td>
            <td>{{tourlength}}</td>
            <td>{{departurelocation}}</td>
            <td>{{departuretime}}</td>
            <td>{{costadult}}</td>
            <td>{{costchild}}</td>
            <td><a class="btn btn-success" href="/customer/package/{{id}}" role="button">View</a></td>
        </tr>
        {{/print}}
    </tfoot>
</table>
</div>