{{> customerheader}}

<div class="container-fluid cont">
    <div class="container">
        <h2 class="headertext">Packages</h2>
        <div class="row">
            {{#print}}
            <div class="col-3 listpackagediv">
                <div class="listpackage">
                    <a class="" href="/customer/package/{{id}}" role="">
                <div class="listpackageimage"><img src="/uploads/{{image}}"></div>
                <h5 class="listpackagetext">{{name}}</h5>
                    <p class="listpackagetext">Tour Length: {{tourlength}}</p>
                    <p class="listpackagetext">Departure Time: {{departuretime}}</p>
                    <p class="listpackagetext">Cost: ${{cost}}</p>
                    </a>
                </div>
            </div> 
            {{/print}}
        </div>
    </div>
</div>