{{> customerheader}}

<div class="container-fluid cont">
<div class="container">
    <h2 class="headertext">Reservations</h2>
    <div class="row listreservationdivHeader">
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Package</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Departure Time</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Cost ($)</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Seat Number</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Ticket Number</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Cancel</h6>
            </div>
    </div>
        {{#print}}
    <div class="row listreservationdiv">
            <div class="col-2 text-center">
                <p class="listreservationtext"><a class="" href="/customer/package/{{packageid}}" role="">{{name}}</a></p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{departuretime}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{cost}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{seatnumber}}</p>
            </div>
            {{#if confirm}}
            <div class="col-2 text-center">
                <p>{{ticketnumber}}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn btn-danger" href="/customer/reservation/{{reservationid}}/cancel" role="button">Cancel</a>
            </div>
            {{else}}
                <div class="col-2 text-center">
                    <a class="btn btn-success" href="/customer/reservation/{{reservationid}}/confirm" role="button">Pay</a>
                </div>
                <div class="col-2 text-center">
                    <a class="btn btn-danger" href="/customer/reservation/{{reservationid}}/cancel" role="button">Cancel</a>
                </div>
            {{/if}}
    </div>
        {{/print}}
</div>
</div>