{{> agencyheader}}
<div class="container-fluid cont">
<div class="container listrowcont">
    <h2 class="headertext">Buses</h2>
    <div><a class="btn btn-primary" href="/agency/bus/add" role="button">Add New</a></div>
    
    <div class="row listreservationdivHeader">
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Name</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="listreservationtext">Registration Number</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Category</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Number of seats</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Availability</h6>
            </div>
            <div class="col-2 text-center">
                <h6>Edit Details</h6>
            </div>
    </div>
        {{#print}}
    <div class="row listreservationdiv">
            <div class="col-2 text-center">
                <p class="listreservationtext">{{name}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{registrationnumber}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{category}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{numberofseats}}</p>
            </div>
            <div class="col-2 text-center">
                <p class="listreservationtext">{{availability}}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn btn-success" href="/agency/bus/{{id}}" role="button">Edit</a>
            </div>
</div>

            {{/print}}
</div>
</div>